server/test/knexfile.js

# python
*.pyc

# python setuptools
*.egg-info/

# packages
/bin

dev.sqlite3

# Jetbrains' IDE
.idea
*.iml

node_modules

# editor backups etc.
*~
\#*\#
.#*

# macos
.DS_Store

# Visual Studio Code
.vscode
.vagrant

venv

# Vagrant
.vagrant

agent/nodelet/go.sum
agent/nodelet/vendor
*.out
junit.xml
coverage.html

build/
